fastapi
uvicorn
python-multipart
pillow
pytesseract
requests
langchain
langchain-google-genai
google-generativeai
pydantic
pydantic-settings
pgvector 
python-dotenv
google-generativeai
psycopg2-binary