fastapi
uvicorn
python-multipart
numpy
pillow
pytesseract
requests
langchain
langchain-google-genai
google-generativeai
pydantic
pgvector 
python-dotenv
google-generativeai
pydantic-settings
psycopg2
cohere>=5.0.0
backoff>=2.2.1


